
.Container {
    display: flex;
    flex-direction: column;
    gap: 87px;
    justify-content: center;
    align-items: center;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 0;
  }

