.whole {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 150px;

}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
img {
    width: 150px;
    height: 150px;
}