.wholeNav {
    display: flex;
    justify-content: center;
    gap: 160px;
    align-items: center;

}
.left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    font-size: 2em;
    background: linear-gradient(to right, #8E7509, #CEA600, #786101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    text-fill-color: transparent;
  }

  .container p {
    font-size: 1.2em;
    margin: 5px 0;
  }

  .Loader {
    line-height: 5px;
  }
  .Loader img {
    width: 50px;
    height: 50px;
    
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .media {
    display: flex;
    gap: 20px;
  }

  .CoinLogo img {
    width: 250px;
    height: 250px;
  }

  .CupBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1c1c227a;
    width: 150px;
    height: 70px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    cursor: pointer;
}

.CupBtn.active {
    opacity: 0.8;
    border-radius: 12px;
}

  .CupBtn p {
    font-size: 15px;
  }

  .CupBtn img {
    width: 30px;
    height: 30px;
   }
   .buttons {
    display: flex;
    gap: 78px;
   }

  .ConnBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1c1c227a;
    width: 160px;
    height: 70px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    cursor: pointer;
    }
   .ConnBtn.active {
    opacity: 0.8;
    border-radius: 12px;
    }

  .WholeValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .WholeValue h1{
    font-size: 50px;
  }

